@import "../variables";

.modalBack {
  position: fixed;
  background-color: $transparentBlack;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.modal {
  background-color: white;
  opacity: 1;
  width: 60%;
  height: 100%;
  padding: 1.3rem;
}

.menu-list {
  display: flex;
  list-style: none;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.closeBtn {
  margin-bottom: 1rem;
  cursor: pointer;
}
