body {
  width: 100vw;
  min-width: 320px;
  max-width: 550px;
}

#root {
  width: 100%;
}

#navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: white;
}

#navbar img {
  height: 25px;
}

.menuBtn,
.cartBtn {
  cursor: pointer;
}

#hero {
  position: relative;
  height: 300px;
  width: 100%;
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.prev {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 1rem;
  background-color: white;
  cursor: pointer;
}

.next {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 1rem;
  background-color: white;
  cursor: pointer;
}

#content {
  padding: 0 1.5rem;
}

.company {
  color: hsl(26, 100%, 55%);
  font: bold;
  margin: 1rem auto;
}

.sneaker {
  margin: 1rem auto;
}

.description {
  margin: 1rem auto;
  color: hsl(220, 14%, 75%);
}

.discount {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 0.3rem 0.5rem;
  margin: 1rem auto;
}

#cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  font: bold;
}

#mainButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(26, 100%, 55%);
  color: white;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}

.cartImg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5%)
    hue-rotate(165deg) brightness(102%) contrast(100%);
}

/*HELPERS */
.gap-1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.strike {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
