@import "./variables";

body {
  width: 100vw;
  min-width: 340px;
  max-width: 1440px;
}

#root {
  width: 100%;
}

#navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: $white;
}

#desktopMenu {
  display: none;
}

#navbar img {
  height: 25px;
}

.menuBtn,
.cartBtn {
  cursor: pointer;
}

.notify {
  position: relative;
}

.notice {
  position: absolute;
  background-color: $orange;
  font-size: 0.5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: $white;
}

#hero {
  position: relative;
  height: 300px;
  width: 100%;

  #images {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.prev {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid $white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 1rem;
  background-color: $white;
  cursor: pointer;
}

.next {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid $white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 1rem;
  background-color: $white;
  cursor: pointer;
}

#content {
  padding: 0 1.5rem;
}

.company {
  color: $orange;
  font: bold;
  margin: 1rem auto;
}

.sneaker {
  margin: 1rem auto;
}

.description {
  margin: 1rem auto;
  color: $darkGrayBlue;
}

.discount {
  color: $orange;
  background-color: $paleOrange;
  padding: 0.3rem 0.5rem;
  margin: 1rem auto;
}

#cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  font: bold;
}

#mainButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $orange;
  color: $white;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.cartImg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5%)
    hue-rotate(165deg) brightness(102%) contrast(100%);
}

/*HELPERS */
.gap-1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.strike {
  text-decoration: line-through;
  color: $darkGrayBlue;
}

@media (min-width: 1024px) {
  .active {
    opacity: 0.5;
  }

  .menuBtn {
    display: none;
  }
  #desktopMenu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  #navbar {
    padding: 1rem 10vw;
  }
  #page {
    display: flex;
    gap: 7vw;
    padding: 10vw;
  }
  #cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #bottom {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
  }
  #count {
    gap: 3rem;
    margin: 0;
    width: 50%;
  }
  #mainButton {
    padding: 0.5rem 5rem;
    margin: 0;
    width: 70%;
  }

  #hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 400px;
    width: 80%;
    justify-content: center;
    align-items: center;

    #images {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 1rem;
      img {
        width: 6vw;
        height: 6vw;
        border-radius: 1rem;
      }
      :hover {
        opacity: 0.5;
        border: 1px solid $orange;
      }
    }
  }

  .hero {
    object-fit: initial;
    border-radius: 1rem;
  }

  .prev,
  .next {
    display: none;
  }

  #content {
    justify-content: center;
    align-items: center;
  }

  .gap-1 {
    gap: 2rem;
  }
}
